#include<iostream>
#include<unistd.h>
#include<cstdlib>
#include<string>
#include<time.h>
using namespace std ;
int main (){
	string s[6] ={"─","│","└","┌","┐","┘"};
	srand( time(NULL) );
	int i = rand()%20 + 1 , j = 1;
	int p[2][1400] ;
	int t = 20000 ;
    cout << "\x1b[2J" << "\x1b[" << i << ';' << j << 'H' << s[0] << flush ;
	usleep(t);
	while ( j <= 70 ){
		if (rand()%2){
			j++;
			cout << "\x1b[" << i << ';' << j << 'H' << s[0] << flush ;
            usleep(t);
		}else if( rand()%2 && i < 20){
			j++;
			cout << "\x1b[" << i << ';' << j << 'H' << s[4] << flush ;
			usleep(t);
			i++;
			while ( rand()%2 && i < 20 ){
				cout << "\x1b[" << i << ';' << j << 'H' << s[1] << flush ;
				usleep(t);
				i++;
			}
			cout << "\x1b[" << i << ';' << j << 'H' << s[2]<< flush ;
			usleep(t);;
		}else if( rand()%2 && i > 0 ){
			j++;
			cout << "\x1b[" << i << ';' << j << 'H' << s[5] << flush ;
			usleep(t);
			i--;
			while ( rand()%2 && i > 0 ){
				cout << "\x1b[" << i << ';' << j << 'H' << s[1] << flush ;
				usleep(t);
				i--;
			}
			cout << "\x1b[" << i << ';' << j << 'H' << s[3]<< flush ;
			usleep(t);
		}
	}    
	cout << "\x1b[21;1H" ;
	return 0 ;
}
